@use '../abstracts' as a;

.blog {
    &__post {

        &-number {
            color: var(--Carnation);
            font-size: var(--fs-m);
            font-weight: var(--fw-bold);
            line-height: 1;
        }

        &-title {
            a {
                color: var(--Black-Russian);
                font-size: var(--fs-xs);
                font-weight: var(--fw-extra-bold);
                line-height: 1.1;

                &:hover,
                &:focus-visible {
                    color: var(--Carnation);
                    outline: none;
                }
            }
        }

        &-description {
            color: var(--Comet);
        }
    }
}