@use '../abstracts' as a;

.new {
    background-color: var(--Black-Russian);
    padding: var(--space-2) var(--space-1-5);

    &__heading {
        font-size: var(--fs-l);
        color: var(--Porsche);
    }

    &__post {
        padding-block: var(--space-2-25);
        border-block-end: 1px solid var(--Comet);

        &:last-child {
            border: none;
        }

        &-title {
            display: inline-block;
            font-size: var(--fs-s);
            font-weight: var(--fw-extra-bold);
            margin-block-end: var(--space-0-5);
            color: var(--Romance);

            &:hover {
                color: var(--Porsche);
            }
        }

        &-description {
            font-size: var(--fs-body);
            color: var(--French-Gray);
        }

    }

}