@use '../abstracts' as a;

html,
body {
    height: 100%;
}

body {
    position: relative;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--Limed-Spruce);
    @include a.flexbox($direction: column, $align: center, $justify: center);
    height: auto;
    min-block-size: 100vh;
    line-height: 1.7;
    padding-block-end: 50vh;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}